@font-face{
    font-family: "variabe";
    src: url("assets/fonts/") format("woff2"),
         url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
         font-family: normal;
}

@font-face {
    font-family: "variabe-italic";
    src: url("assets/fonts/") format("woff2"),
        url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-family: normal;
}

@font-face {
    font-family: "medium";
    src: url("assets/fonts/") format("woff2"),
        url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype");
    font-family: 400;
}

@font-face {
    font-family: "extra-bold";
    src: url("assets/fonts/") format("woff2"),
        url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
    font-family: 800;
}

:root{
    --primary-100: hsl(0, 0%, 100%);
    --primary-300: hsl(47, 88%, 63%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}


body{
    font-size: 62.5%;
    background-color: var(--primary-300);
    height: 100svh;;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

main{
    max-width: 350px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0.5rem 0.5rem rgb(0, 0, 0);
    background-color: var(--primary-100);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.container{
    display: grid;
    padding: 1.3rem;
    gap: 1rem;
}

figure{
    display: block;
    justify-self: center;
    width: 100%;
}

figure img{
    border-radius: 15px;
    width: 100%;
}

.learning{
    display: block;
    width: fit-content;
    background-color: var(--primary-300);
    border-radius: 5px;
    padding: 0.5rem;
    font-family: "extra-bold", sans-serif;
    font-size: 0.825rem;
}

h2{
    font-family: "medium", sans-serif;
    font-size: 0.825rem;
}

h1{
    font-family: "extra-bold", sans-serif;
    font-size: 1.3rem;
}

h1:hover{
    color: var(--primary-300);
    cursor: pointer;
}

.details{
    font-family: "variabe", sans-serif;
    font-size: 1rem;
    color: var(--gray-500);
}

.author {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-family: "extra-bold", sans-serif;
    font-size: 0.825rem;
}

.author img{
    width: 2rem;
}

body .attribution {
    font-family: "medium", sans-serif;
    font-size: 1rem;
}

body .attribution a{
    font-family: "extra-bold", sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
